@model IEnumerable<OctopusApp.Plumbing.OctopusRecipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (var recipe in @Model)
    {
        <li>
            Recipe Name: @recipe.Name
            <br />
            <ul>
                @foreach (var ingredient in @recipe.DeploymentComponents)
                {
                    <li>@ingredient.ProjectName</li>
                }
            </ul>
        </li>
    }
</ul>
