@using OctopusApp.Plumbing
@model IEnumerable<OctopusRecipe>

@{
    ViewBag.Title = "Recipes";
}

<h2>Current Octopus Recipes</h2>

<div id="home-accordion">
    @foreach (var recipe in @Model)
    {
        <h3>
            @recipe.Name
        </h3>
        <div>
            @foreach (var ingredient in @recipe.DeploymentComponents)
            {
                <div class="component-row">
                    <span class="project-name">@ingredient.ProjectName</span>
                    <span class="release-version">Version: @ingredient.ReleaseVersion</span>
                </div>
            }
        </div>
    }
</div>